.justify-text{
    text-align: justify;
    width: 50%;
}

@media (min-width: 641px) {

    .media {
        display: flex;
        gap: 2rem;;
    }
    .justify-text{
        width: 60%;
    }   
    
}