<div class="container">

    <div class="featured-product">

        <div>
            <a href="/product/1">
                <img src="https://upload.wikimedia.org/wikipedia/en/6/67/Anne_frank_biography.jpg" alt="anne-frank" />
            </a>
        </div>
        <h4>
            <a href="/product/1">
                Anne Frank: The Biography
            </a>
        </h4>

        <h5 class="price">€6.99</h5>
    </div>

    <div class="featured-product">

        <div>
            <a href="/product/2">
                <img src="https://upload.wikimedia.org/wikipedia/pt/c/c1/The_Matrix_Poster.jpg" alt="the-matrix" />
            </a>
        </div>
        <h4>
            <a href="/product/2">
                The Matrix
            </a>
        </h4>

        <h5 class="price">€19.99</h5>
    </div>

    <div class="featured-product">

        <div>
            <a href="/product/3">
                <img src="https://upload.wikimedia.org/wikipedia/en/8/87/Cursed_Child_new_poster.jpg" alt="harry-potter" />
            </a>
        </div>
        <h4>
            <a href="/product/3">
                The Harry Potter and the Cursed Child
            </a>
        </h4>

        <h5 class="price">€7.99</h5>
    </div>

</div>