.container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}


.featured-product {

    display: flex;
    flex-direction: column;

}

img {
    width: 200px;
    height: 300px;
}