.mobile-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.hamburger {
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
}

.mobile-menu {
  display: none;
  flex-direction: column;
  background: #f5f5f5;
  padding: 1rem;
  margin-top: 0.5rem;
  border-radius: 6px;
}

.mobile-menu.open {
  display: flex;
}

/* escondido no mobile */
.desktop-nav {
  display: none; 
}

@media (min-width: 641px) {

  /* escondemos mobile nav */
  .mobile-nav {
    display: none;
  }

  .navbar {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    background: #f4f4f4;
  }

  .navbar a {
    text-decoration: none;
    padding: .5rem 1rem;
    border-radius: 6px;
    color: #333;
  }

  .navbar a.active {
    background: #333;
    color: white;
  }


}