<nav class="mobile-nav">

  Start buying
  <button class="hamburger" (click)="toggleMenu()">
    ☰
  </button>

  <div class="mobile-menu" [class.open]="menuOpen">
    <a routerLink="/" (click)="closeMenu()">Home Page</a>
    <a routerLink="/movies" (click)="closeMenu()">Movies</a>
    <a routerLink="/books" (click)="closeMenu()">Books</a>
    <a routerLink="/video-games" (click)="closeMenu()">Video Games</a>
  </div>
</nav>

<nav class="navbar desktop-nav">

  <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    Home Page
  </a>
  <a routerLink="/movies" routerLinkActive="active">Movies</a>
  <a routerLink="/books" routerLinkActive="active">Books</a>
  <a routerLink="/video-games" routerLinkActive="active">Video Games</a>
</nav>

<hr>




<!-- here are the children -->
<router-outlet></router-outlet>
